pipeline/pipDrawin.json
{
	"name": "pipDrawin",
	"properties": {
		"activities": [
			{
				"name": "getFilemetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsdatfile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getFilemetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getFilemetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "innerGetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dsGetBlobFilemetadata",
									"type": "DatasetReference"
								},
								"fieldList": [
									"itemName",
									"itemType",
									"lastModified",
									{
										"value": "@item().size",
										"type": "Expression"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "uspDBA_UpsertFileFromBlob_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "innerGetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspDBA_UpsertFileFromBlob]",
								"storedProcedureParameters": {
									"pFileName": {
										"value": {
											"value": "@activity('innerGetFileMetadata').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"pFileSize": {
										"value": "@activity('innerGetFileMetadata').output.size  ",
										"type": "Double"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pipContainername": {
				"type": "string",
				"defaultValue": "darwinx"
			},
			"pipDirname": {
				"type": "string",
				"defaultValue": "landing"
			}
		},
		"annotations": []
	}
}