adfdevtransform/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevtransform"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_getmetadatacopydatasql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_getmetadata",
								"type": "DatasetReference",
								"parameters": {
									"DS_Containername": {
										"value": "@pipeline().parameters.Containername",
										"type": "Expression"
									},
									"DS_Dirname": {
										"value": "@pipeline().parameters.Dirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{pipeline().parameters.Containername}/@{pipeline().parameters.Dirname}/@{item().name}"
										},
										{
											"name": "Destination",
											"value": "@{pipeline().parameters.Schemaname}.@{split(item().name, '.')[0]}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_copydataadls",
											"type": "DatasetReference",
											"parameters": {
												"containername": {
													"value": "@pipeline().parameters.Containername",
													"type": "Expression"
												},
												"Dirname": {
													"value": "@pipeline().parameters.Dirname",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_CopydataSQL",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": {
													"value": "@pipeline().parameters.Schemaname",
													"type": "Expression"
												},
												"tablename": {
													"value": "@split(item().name, '.')[0]",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Containername": {
						"type": "string",
						"defaultValue": "landing"
					},
					"Dirname": {
						"type": "string",
						"defaultValue": "copydata"
					},
					"Schemaname": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-01T14:55:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipDrawin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getFilemetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getFilemetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getFilemetadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "innerGetFileMetadata",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dsGetBlobFilemetadata",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"DIRName": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"size",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "uspDBA_UpsertFileFromBlob_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "innerGetFileMetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspDBA_CheckForFiles]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@item().lastModified",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(item().lastModified, 'yyyyMMdd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(item().name, '.' )[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@item().size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(toLower(item().name), '.dat')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipContainername": {
						"type": "string",
						"defaultValue": "darwinx"
					},
					"pipDirname": {
						"type": "string",
						"defaultValue": "landing"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipDrawin_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getFilemetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getFilemetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getFilemetadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "innerGetFileMetadata",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dsGetBlobFilemetadata",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"DIRName": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"size",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "uspDBA_UpsertFileFromBlob_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "innerGetFileMetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspDBA_CheckForFiles]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.lastModified",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(activity('innerGetFileMetadata').output.lastModified, 'yyyyMMdd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(activity('innerGetFileMetadata').output.itemName, '.')[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(toLower(item().name), '.dat')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipContainername": {
						"type": "string",
						"defaultValue": "darwinx"
					},
					"pipDirname": {
						"type": "string",
						"defaultValue": "landing"
					},
					"pipOutputdirectoryname": {
						"type": "string",
						"defaultValue": "processedfiles"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipDrawin_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getFilemetadata",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "getFilemetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getFilemetadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "innerGetFileMetadata",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dsGetBlobFilemetadata",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"DIRName": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"size",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "uspDBA_UpsertFileFromBlob_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "innerGetFileMetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspDBA_CheckForFiles_new]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@formatDateTime(activity('innerGetFileMetadata').output.lastModified, 'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(activity('innerGetFileMetadata').output.lastModified, 'yyyyMMdd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(activity('innerGetFileMetadata').output.itemName, '.')[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(toLower(item().name), '.dat')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "If Condition2",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LKP_CheckfileCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LKP_CheckfileCount').output\n.firstRow.FileCount, 13)\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LKP_CheckfileCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COUNT(*) as FileCount FROM [dbo].[FileChecker] WHERE \nfiledateformat=convert(varchar,getdate(),112) and completed IS NULL\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_getnewwatermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ForEachFileMove",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetMetadatatoMove",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadatatoMove').output.childItems\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copydatagetmetadata",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_copyfilesfromsourcetodestination",
											"type": "DatasetReference",
											"parameters": {
												"containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_copydatafromlandingtoprocessedfiles",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.pipoutputdirectoryname",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copydatagetmetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[DBA_MoveFiles_MI]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@formatDateTime(activity('GetMetadatatoMove').output.lastModified, 'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(activity('GetMetadatatoMove').output.lastModified, 'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(activity('GetMetadatatoMove').output.itemName, '.')[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@activity('GetMetadatatoMove').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@activity('GetMetadatatoMove').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_getnewwatermark",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetMetadatatoMove",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "If Condition2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipContainername": {
						"type": "string",
						"defaultValue": "darwinx"
					},
					"pipDirname": {
						"type": "string",
						"defaultValue": "landing"
					},
					"pipoutputdirectoryname": {
						"type": "string",
						"defaultValue": "processedfiles"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipDrawin_copy3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getFilemetadata",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "getFilemetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getFilemetadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "innerGetFileMetadata",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dsGetBlobFilemetadata",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"DIRName": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"size",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "uspDBA_UpsertFileFromBlob_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "innerGetFileMetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspDBA_CheckForFiles_new]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@formatDateTime(activity('innerGetFileMetadata').output.lastModified, 'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(activity('innerGetFileMetadata').output.lastModified, 'yyyyMMdd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(activity('innerGetFileMetadata').output.itemName, '.')[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@activity('innerGetFileMetadata').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(toLower(item().name), '.dat')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "If Condition2",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LKP_CheckfileCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LKP_CheckfileCount').output\n.firstRow.FileCount, 13)\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LKP_CheckfileCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COUNT(*) as FileCount FROM [dbo].[FileChecker] WHERE \nfiledateformat=convert(varchar,getdate(),112) and completed IS NULL\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_getnewwatermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ForEachFileMove",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetMetadatatoMove",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadatatoMove').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copydatagetmetadata",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "innergetmetadatafilemove",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_copyfilesfromsourcetodestination",
											"type": "DatasetReference",
											"parameters": {
												"containername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_copydatafromlandingtoprocessedfiles",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.pipoutputdirectoryname",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copydatagetmetadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[DBA_MoveFiles_MI]",
										"storedProcedureParameters": {
											"pFileDate": {
												"value": {
													"value": "@formatDateTime(activity('innergetmetadatafilemove').output.lastModified, 'yyyy-MM-dd HH:mm:ss')\n",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pFileDateFormat": {
												"value": {
													"value": "@formatDateTime(activity('innergetmetadatafilemove').output.lastModified, 'yyyyMMdd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileExtension": {
												"value": {
													"value": "@split(activity('innergetmetadatafilemove').output.itemName, '.')[1]",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFilename": {
												"value": {
													"value": "@activity('innergetmetadatafilemove').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"pFileSize": {
												"value": {
													"value": "@activity('innergetmetadatafilemove').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_getnewwatermark",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "innergetmetadatafilemove",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_innergetmetadatafilemove",
											"type": "DatasetReference",
											"parameters": {
												"innercontainername": {
													"value": "@pipeline().parameters.pipContainername",
													"type": "Expression"
												},
												"innerdirectoryname": {
													"value": "@pipeline().parameters.pipDirname",
													"type": "Expression"
												},
												"innerfilename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								}
							]
						}
					},
					{
						"name": "GetMetadatatoMove",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "If Condition2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsdatfile",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.pipContainername",
										"type": "Expression"
									},
									"Dirname": {
										"value": "@pipeline().parameters.pipDirname",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pipContainername": {
						"type": "string",
						"defaultValue": "darwinx"
					},
					"pipDirname": {
						"type": "string",
						"defaultValue": "landing"
					},
					"pipoutputdirectoryname": {
						"type": "string",
						"defaultValue": "processedfiles"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_sqlservertodatalakeparameterization')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_sqlservertodatalakeparameterization",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schemaname": {
						"type": "string"
					},
					"Tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_sqltodatalakesinkparamtrize')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_sqltodatalakesinkparamtrize",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Containername": {
						"type": "string"
					},
					"dirname": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dirname",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Containername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_onpremsqltodatalakeparameterization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_sqltodatalakeparameterization",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_sqlservertodatalakeparameterization",
								"type": "DatasetReference",
								"parameters": {
									"Schemaname": {
										"value": "@pipeline().parameters.Schemaname",
										"type": "Expression"
									},
									"Tablename": {
										"value": "@pipeline().parameters.Tablename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_sqltodatalakesinkparamtrize",
								"type": "DatasetReference",
								"parameters": {
									"Containername": {
										"value": "@pipeline().parameters.Containername",
										"type": "Expression"
									},
									"dirname": {
										"value": "@pipeline().parameters.dirname",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Schemaname": {
						"type": "string",
						"defaultValue": "Person"
					},
					"Tablename": {
						"type": "string",
						"defaultValue": "Address"
					},
					"Containername": {
						"type": "string",
						"defaultValue": "onpremsql"
					},
					"dirname": {
						"type": "string",
						"defaultValue": "output"
					},
					"filename": {
						"type": "string",
						"defaultValue": "Person.Address.csv"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-10T16:23:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_sqlservertodatalakeparameterization')]",
				"[concat(variables('factoryId'), '/datasets/DS_sqltodatalakesinkparamtrize')]"
			]
		}
	]
}